/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* //////////// FIN RESET //////////// */


/* DIVISIONS */

body {
  background-color: #EAEBED;
	font-family: 'Montserrat', sans-serif;
}

.covid-banner {
	background-color: #A4969B;
	font-weight: 600;
	line-height: 1.3rem;
	padding: 1rem 0rem 1.5rem 0rem;
	text-align: center;
}

header {
	background-color: #009FB7;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem 0rem 2rem 0rem;
}

.head-hr {
	background-color: white;
	height: 0.5rem;
	width: 100%;
}

.texte-accueil {
	line-height: 1.5rem;
	margin: auto;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	text-align: center;
	width: 70%;
}

.contenu-artiste {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: auto;
	margin-top: 2rem;
	width: 76%;
}

.nom-artiste {
	margin-bottom: 1rem;
}

.figure-oeuvre {
	margin-bottom: 1rem;
}

.texte-biographie-complete {
	font-size: 0.95rem;
	line-height: 1.3rem;
	margin-bottom: 2rem;
	text-align: justify;
}

.texte-et-aside {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
}

.citation {
	margin-bottom: 0.7rem;
	text-align: left;
	text-indent: 6rem;
}

.aside {
	display: flex;
	flex-direction: column;
	float: right;
	justify-content: center;
	margin: 0rem 0rem 0rem 0.8rem;
}

.recherche-artiste {
	align-items: center;
	display: flex;
	margin: auto;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: max-content;
}

.menu-recherche {
	margin: auto;
	margin-bottom: 6rem;
	width: max-content;
}

footer {
	background-color: #878C8F;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem 0rem 1rem 0.2rem;
}

.address-group {
	margin: auto;
	text-align: center;
	width: 90%;
}

.adresse {
	font-size: 0.9rem;
	line-height: 1.3rem;
}

.cgu {
	font-size: 0.8rem;
	margin-top: 1rem;
}

/* NAV */

.container nav {
	margin: auto;
	width: 90%;
}

.container nav ul {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container nav li a {
	background-color: rgba(255, 255, 255, 0.7);
	border: 0.5px solid rgba(255, 255, 255, 0.9);
	border-radius: 1.2rem;
	color: rgb(60, 60, 60);
	padding: 0.5rem 1rem 0.5rem 1rem;
	text-decoration: none;
}

.container nav li a:hover {
	background-color: rgba(255, 255, 255, 1);
}

.container nav a:visited {
	color: rgb(60, 60, 60);
}

footer nav {
	margin: auto;
	margin-bottom: 2.5rem;
	margin-top: 1rem;
	width: 70%;
}

footer nav ul {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer nav li a {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 0.7rem;
	color: rgb(60, 60, 60);
	font-size: 0.8rem;
	padding: 0.3rem 1rem 0.3rem 1rem;
	text-decoration: none;
}

footer nav li a:hover {
	background-color: rgba(255, 255, 255, 1);
}

footer nav a:visited {
	color: rgb(60, 60, 60);
}

/* TITLES */

h1 {
	color: #EAEBED;
	font-size: 3.2rem;
	font-weight: 400;
	margin-bottom: 4rem;
	margin-top: 2rem;
	text-align: center;
}

h2 {
	color: #fa8072a1;
	font-size: 7rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
	margin-top: -7.5rem;
	text-align: center;
}

h3 {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
}

.recherche-artiste h3 {
	text-align: center;
}

/* TEXT */

p {
	text-indent: 0.5rem;
}

.aside p {
	font-size: 0.8rem;
	line-height: 1.25rem;
	text-align: center;
}

span {
	color: rgb(100, 100, 100);
	font-size: 2rem;
	font-weight: 300;
}

/* LINKS */

footer nav ul li a {
	color: rgb(10, 10, 10);
	text-decoration: none;
}

.adresse p a {
	color: rgb(10, 10, 10);
	text-decoration: none;
}

.adresse p a:visited {
	color: rgb(10, 10, 10);
}

/* ICONS */

.fa-viruses {
	/* color: green; */
	color: #FFFFFF;
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

/* IMAGES */

.sample {
	margin-bottom: -0.3rem;
	width: 1000px;
}

figcaption {
	background-color: rgb(60, 60, 60);
	border-radius: 0rem 0rem 0.2rem 0.2rem;
	color: white;
	margin-top: 0rem;
	padding: 0.3rem 0rem;
	text-align: center;
	width: 1000px;
}

.portrait-artiste {
	border-radius: 0.2rem 0.2rem 0rem 0rem;
	margin-bottom: -0.3rem;
	width: 200px;
}

.aside figcaption {
	background-color: rgba(245, 245, 245);
	color: rgb(60, 60, 60);
	font-size: 0.8rem;
	font-weight: 600;
	line-height: 1.3rem;
	width: 200px;
}

/* INPUTS / FORMS */

select {
	border: 2px solid rgb(60, 60, 60);
	border-radius: 0.3rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	padding: 0.4rem 3rem 0.4rem 6rem;
	text-align: center;
}

option {
	font-family: 'Montserrat', sans-serif;
}

/* BUTTONS */

/* covid banner button : */
.acceptbutton {
	font-family: 'Concert One', cursive;
  font-weight: 600;
  font-size: 1.1rem;
  color: rgba(46, 54, 71, 1);
  border-radius: 0.25rem;
  background-color: rgb(255, 248, 140);
  border: 0rem;
  box-shadow: none;
	margin-top: 1rem;
	padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}
